@page "/"

@rendermode InteractiveServer

<div class="container">
    <h3>Tareas</h3>
    <button class="btn btn-primary" @onclick="AutoGenerateTasks">Generar 100000 Tareas</button>
    <button class="btn btn-primary" @onclick="DeleteSelectedTasks">Borrar tareas seleccionadas</button>

    <form @onsubmit="AddTask">
        <div class="@clase">@errorMessage</div>
        <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" id="title" class="form-control" @bind="newTask.Title" />
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" class="form-control" @bind="newTask.Description"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Agregar Tarea</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Bloqueado</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks)
            {
                <tr>
                    <td><input type="checkbox" @bind="@task.IsSelected" /></td>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td><button class="btn btn-primary" @onclick="@(e => ChangePause(task))">@(task.IsBlocked ? "Sí" : "No")</button></td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => ChangeState(task))">@task.TODOStates.ToString()</button>
                    </td>
                    <td>@task.CreateDate</td>
                    <td><Button class="btn btn-danger btn-sm" @onclick="() => Remove(task)">-</Button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" @onclick="NavigateToPreviousPage" disabled="@IsFirstPage">Página Anterior</button>
        <button class="btn btn-primary" @onclick="NavigateToNextPage" disabled="@IsLastPage">Página Siguiente</button>
    </div>
</div>